#ignore data folder
Data/
Models/

#ignore Matlab files
*.asv
*.mat

#ignore jupyter notebook files
.ipynb_checkpoints/
__pycache__/

#ignore macOS files
.DS_Store

# venv
mon_venv/
venv_python_3_10/
data-driven-prediction-of-battery-cycle-life-before-capacity-degradation/