#ignore data folder
Data/

#ignore Matlab files
*.asv
*.mat

#ignore jupyter notebook files
.ipynb_checkpoints/
__pycache__/

#ignore macOS files
.DS_Store

# venv
mon_venv/
data-driven-prediction-of-battery-cycle-life-before-capacity-degradation/